<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confimation email</title>
</head>
{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Dear {{ user.f_name }},</h1>
    </div>
    <div class="row">
        <h1>Welcome to Forex Access!</h1>
        <p>To confirm your account please click on the following link:</p>
        <p>{{ url_for('confirmv', token=token, _external=True) }}</p>
        <p>Sincerely,</p>
        <div class="">
            <h4>The ForexAccess Team</h4>
            <p>Note: replies to this email address are not monitored. address are not monitored</p>
        </div>
    </div>
    
</div>
{% endblock %}
</html>