{% extends 'dashboard.html' %}

{% import "bootstrap/wtf.html" as bot %}

{% block content %}
<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	{% include 'basesidedashboard.html' %}
    </div>

    <div class="main-panel">
	     {% include 'naveBase.html' %}


        <div class="content">
            <div class="container-fluid">
                 {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                 {% endfor %}
                <div class="row">
                    <div class="col-lg-4 col-md-5">
                        <div class="card card-user">
                            <br>
                            <br>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white" src="{{ user.avatar(80) }}" alt="..."/>
                                  <h4 class="title">{{ user.f_name }}<br />
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{ user.about_me }}
                                </p>
                            </div>
                            <hr>
                            <div class="text-center">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>12<br /><small>Files</small></h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5>2GB<br /><small>Used</small></h5>
                                    </div>
                                    <div class="col-md-3">
                                        <h5>24,6$<br /><small>Spent</small></h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form method="post", action="" class="form" role="form">
                                    {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input type="text" class="form-control border-input" disabled placeholder="Company" value="Forex Access Inc.">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ bot.form_field(form.email) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ bot.form_field(form.f_name)}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ bot.form_field(form.l_name) }}
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ bot.form_field(form.country) }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                               {{ bot.form_field(form.phone_no) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                             {{ bot.form_field(form.about_me) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        {{ bot.form_field(form.submit) }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


         <footer class="footer">
                    <div class="container-fluid">
                        <nav class="pull-left">
                            <ul>

                                <li>
                                    <a href="http://www.forexaccess.com" target="_blank">
                                        Forex Access
                                    </a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com">
                                       Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.creative-tim.com/license">
                                        Licenses
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright pull-right">
                            &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                        </div>
                    </div>
                </footer>


    </div>
</div>


{% endblock %}